[Desktop Entry]
Name=Firefox Fullscreen
Comment=Disable opacity when Firefox is in fullscreen mode
Icon=preferences-system-windows

X-KDE-PluginInfo-Author=afkdev8
X-KDE-PluginInfo-Email=afkdev8@gmail.com
X-KDE-PluginInfo-Name=firefox-fullscreen
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL

Type=Service
X-KDE-ServiceTypes=KWin/Script
X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
